<h1>EDIT YOUR PROFILE</h1>

<form method="post">
    <label for="fname">First name:</label>
    <input type="text" id="fname" name="fname" value="{{fname}}">
    <br>
    <label for="lname">Last name:</label>
    <input type="text" id="lname" name="lname" value="{{lname}}">
    <br>
    <label for="email">Email:</label>
    <input type="text" id="email" name="email" value="{{email}}">
    <br>
    <label for="password">Password:</label>
    <input type="text" id="password" name="password" value="">
    <label for="age">Age:</label>
    <input type="number" id="age" name="age" min="0" max="100" value="{{age}}">
    <br>
    <label for="city">City:</label>
    <input type="text" id="city" name="city" value="{{city}}">
    <br>
    <label for="url">url:</label>
    <input type="text" id="url" name="url" value="{{url}}">
 
    <input type="hidden" name="_csrf" value="{{csrfToken}}">
    <br>
    <input type="submit" id="submit" value="Enter">
</form>