<h1>SIGNERS IS HERE!!!</h1>

{{#signatures}}
<div>
    <h3>{{id}}</h3>
    <p>{{'First Name'}}</p>
    <p>{{'Last Name'}}</p>
    <p>{{age}}</p>
    <p><a href="/petition/signers/{{city}}">{{city}}</a></p>
    <p><a href={{url}}>{{url}}</a></p>
</div>
{{/signatures}}