
{{> logoutBtn}}

<div class="box">
    <h1>THE SIGNERS</h1>
    <p>Thank you all ♥</p>
</div>

<div class="tableHead">   
        <h3>FULL NAME</h3>
        <h3>AGE</h3>
        <h3>CITY</h3>
        <h3>WEBSITE</h3>
</div>

{{#signatures}}
<div class="table">
    {{#if url}}
    <span><a href="{{url}}">
    {{'First Name'}} {{'Last Name'}}
    </a></span>
    {{else}}
    <span>{{'First Name'}} {{'Last Name'}}</span>
    {{/if}}
    <span>{{age}}</span>
    <span><a href="/petition/signers/{{city}}">{{city}}</a></span>
    <span class="longText"><a href={{url}}>{{url}}</a></span>
</div>
{{/signatures}}