
{{> logoutBtn}}

<h1>SIGNERS IS HERE!!!</h1>

{{#signatures}}
<div>
    {{#if url}}
    <a href="{{url}}">
    <p>{{'First Name'}}</p>
    <p>{{'Last Name'}}</p>
    </a>
    {{else}}
    <p>{{'First Name'}}</p>
    <p>{{'Last Name'}}</p>
    {{/if}}
    <p>{{age}}</p>
    <p><a href="/petition/signers/{{city}}">{{city}}</a></p>
    <p><a href={{url}}>{{url}}</a></p>
</div>
{{/signatures}}