
{{> logoutBtn}}

<h1>USERS FOR {{city}} IS HERE!!!</h1>

{{#usersForCity}}
<div>
    {{#if url}}
    <a href="{{url}}">
    <p>{{'First Name'}}</p>
    <p>{{'Last Name'}}</p>
    </a>
    {{else}}
    <p>{{'First Name'}}</p>
    <p>{{'Last Name'}}</p>
    {{/if}}
    <p>{{age}}</p>
</div>
{{/usersForCity}}