
{{> logoutBtn}}

<h1>All signers in {{page}}</h1>

<div class="tableHead">   
        <h3>FULL NAME</h3>
        <h3>AGE</h3>
</div>

{{#usersForCity}}
<div class="table">
    {{#if url}}
    <span><a href="{{url}}">
    {{'First Name'}} {{'Last Name'}}
    </a></span>
    {{else}}
    <span>{{'First Name'}} {{'Last Name'}}</span>
    {{/if}}
    <p>{{age}}</p>
</div>
{{/usersForCity}}